

.care {
    background-color: var(--first-color-dark);
}

.care__container {
    row-gap: 3rem;
    padding-block: 1rem 2rem;
}


.care__list {
    display: grid;
    row-gap: 1.25rem;
}

.care__item {
    display: flex;
    column-gap: .75rem;
    align-items: center;
}


.care__item i {
    font-size: 1.5rem;
    color: var(--second-color);
}


.care__img {
    width: 320px;
    filter: var(--shadow-img);
    justify-self: center;
}


@media screen and (min-width: 1150px) {
    .care__container {
        grid-template-columns: 500px 410px;
        column-gap: 6rem;
        align-items: center;
        padding-block: 4rem;
        justify-content: center;
    }

    .care__img {
        width: 550px;
        order: -1;
    }

    .care__item {
        column-gap: 1rem;
    }
    .care__item i {
        font-size: 2rem;
    }
}